<a href="https://colab.research.google.com/github/kebladen/Data2025Course/blob/main/Advanced_Python_Web_Scraping_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [10]:
soup = BeautifulSoup(response, 'html.parser')

In [32]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [44]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [50]:
df['age'] = pd.to_numeric(df['age'])

In [51]:
df['id'] = pd.to_numeric(df['id'])

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [56]:
average_age = df['age'].mean()
print(average_age)

29.875

In [59]:
std_age = round(df['age'].std(), 2)
print(std_age)

3.56